#display {
    text-align: right;
    font-size: 60px;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    margin-left: 15px;
    margin: 5px;
    height:50px;
    width: 50px;
    background-color: grey;
    color: red;
    font-size: 30px;
}

#add, #substract, #multiply, #divide, #changeSign, #dot, #clear{
    margin-left: 15px;
    margin: 5px;
    height:50px;
    width: 50px;
    background-color: grey;
    color: black;
    font-size: 30px;
}

#push {
    margin-left: 15px;
    margin: 5px;
    height:50px;
    width: 90px;
    background-color: grey;
    color: black;
    font-size: 30px;
}



